---
layout: default
---

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
<script type="text/javascript">
    $(window).bind("load", function() {
        $.getJSON("https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=fyebrazy&api_key=a870db12ebf365062fd7d6386292bf76&format=json", function(data) {
            var html = 'Currently listening to: ';
            var counter = 1;
            $.each(data.recenttracks.track, function(i, item) {
                if(counter == 1) {
                    html += '<span style="white-space: nowrap"><a href="' + item.url + '" target="_blank">' + item.name + ' - ' + item.artist['#text'] + '</a></span>';
                }
                counter++
            });
            $('.listening-to').html(html);
        });
    });
</script>
<div class="listening-to">Currently listening to: <span style="white-space: nowrap"><a href="https://www.last.fm/music/Young+Thug/_/Check" target="_blank">Check - Young Thug</a></span></div>
